body {
    margin: 0;
    padding: 0;
    background: url(https://media.istockphoto.com/id/1165085589/photo/coffee-and-croissant.jpg?s=612x612&w=0&k=20&c=nt6O2IeETfPIQyHpn1Xmjh1KbTt-gUhUHvga5NLKHFw=);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  }
  
  .loginbox {
    width: 320px;
    height: 420px;
    background: black;
    color: #fff;
    top: 50%;
    left: 65%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc; /* add a background color so you can see the avatar */
  }
  
  h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .loginbox input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .loginbox input[type="text"],
  .loginbox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: violet; /* change the default background color to violet */
    color: #fff;
    font-size: 18px;
  }
  
  .loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .loginbox input[type="submit"].clicked {
    background: yellow; /* change the background color to yellow when clicked */
  }
  
  .loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .loginbox a:hover {
    color: #ffc107;
  }
  