/* CSS RESET */
*{
  margin: 0;
  padding: 0;
}

/* CSS variables*/
:root{
  --navbar-height: 59px;
}

/* Navigation Bar*/
#navbar{
  display: flex;
  align-items: center;
}

/* Navigation Bar: Logo and Image */
#logo{
  margin: 12px 37px
}

#logo img{
  height: 80px;
  width:80px;
  margin: 3px 6px;
}
#navbar{
position: relative;
top:0px;
}
#navbar ul{
  display: flex;
font-family: 'Baloo Bhai',cursive;
}


#navbar::before{
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width:100%;
  z-index: -1;
  opacity:0.8;
  top:0px;
  left:0px;
}
#navbar ul li{
  
  list-style: none;
  font-size: 1.3rem;

}
#navbar ul li a{
  color: white ;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover{
  color: black ;
  background-color: white;
  
}
/*Home Section */
#home{
display: flex;
flex-direction: column;
padding: 3px 200px;
height:578px;
justify-content: center;
align-items: center;
}

#home::before{
display: flex;
flex-direction: column;
padding: 3px 200px;
justify-content: center;
align-items: center;

}

#home::before{
content: "";
position: absolute;
background: url(https://v.etsystatic.com/video/upload/q_auto/Midjourney_food_photography_ultra_realistic_aI_PROMPTS_hf2ykn.jpg)no-repeat center center fixed;;

background-size: cover;
 
 top:99px;
 left:0px;
 right:0px;
height: 642px;
width: 70%;
z-index:-1;
opacity:0.9;
border:20px black;

}

#home h1{
color: white;
text-align: center;
}

#home p{
color: black;
font-weight: bold;
text-align: center;
font-size:1.5rem;
font-family: 'Bree Serif',
serif;
}

/*Services Section*/

#services
{
margin: 50px;
display:flex;

}
#services .box
{
border:3px solid brown;
padding:34px;
margin: 3px 6px;
border-radius:28px;
background: #f2f2f2;
}
#services .box img
{
height: 200px;
margin:auto;
display: block;
width: 300px;
}

/*Client Section*/
#client-section{
position:relative;
height: 344px;
}
#client-section::before{
content:"";
position: absolute;
background: url(https://1721181113.rsc.cdn77.org/data/images/full/33136/how-do-food-ordering-apps-work.jpeg)no-repeat center center fixed;
background-size: cover;
width: 100%;
height: 100%;
z-index: -1;
opacity:0.5;

}
#clients{
display: flex;
justify-content:center;
text-align: center;
}
.client-item{
padding: 34px;
}
#clients img{
height: 124px;
}

/*Contact Section*/
#contact{
position: relative;
}
#contact::before{
content:"";
position: absolute;
width: 100%;
height:100%;
z-index: -1;
opacity: 0.7;
background: url() no-repaet center center/cover;

}

footer{
  background:black;
  color:white;
  padding: 9px 20px;;

}





/*Utility Classes */
.h-primary{
font-family: 'Bree Serif' , serif;
font-size: 3rem;
padding: 60px;
height:20px;

}
.h-secondary{
font-family: 'Bree Serif' , serif;
font-size: 2.5;

}

.btn{
padding: 6px 20px;
border: 2px solid white;
background-color: grey;
color: white;
margin: 17px;
font-size: 1.5rem;
border-radius:10px;
cursor:pointer;
}
.center{
text-align:center;
}
